{% load static %}
<nav class="navbar navbar-expand-lg bg-default  fixed-bottom mb-0" color-on-scroll="400">
	<div style="font-size: x-large;"class="container d-flex nav-justified">
		<a class="nav-icon text-capitalize" href=""><span class="mr-2"><i class="far fa-caret-square-left"></i></span>back</a>
		<img src="{% static 'img/logo-aladin.png' %}"" width="30" height="30" alt="logo">
		<a class="nav-icon text-capitalize" href=""><span class="mr-2"><i class="fas fa-home"></i></span>log in</a>
	</div>
	
</nav>
<nav class="navbar navbar-expand-lg  fixed-bottom  justify-content-center" color-on-scroll="400">
	<a class="text-larg"><span class="bg-default p-4 circle"><i class="fas fa-plus"></i></span></a>
</nav>