{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}{{ grade.name }}{% endblock title %}
{% block content%}
<style >
	.images:hover {
		background: rgba(0,0,0,0.5);
	}
	.images {
		max-height: 100px;
	}
	.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44,168,255,0.5);
}
.overlay:hover {
	opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>

<div class="nav-spacing">
	<h3>{{ grade.name }}</h3>
	{% if messages%}
	{% for msg in messages %}
	<div class="alert bg-success text-white text-center">{{ msg  }} </div>
	{% endfor %}
	{% endif %}
</div>

<div class="container">
	{% if request.user == post.user or request.user.is_superuser %}
	<div class="fixed-bottom">
		<a href="{% url 'blog:update' post.pk %}" class="coffee-button text-white p-4  circle"><i class="far fa-edit"></i></a>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 mx-auto bg-white my-3 p-5">
			<article>
			<h2 class="text-center">{{ post.title }}</h2><hr/>
			<p style="word-break: break-word;">{{ post.content|safe }}</p><hr/>
		</article>
		<a class="btn btn-info" href="{% url 'home' %}">retour</a>
		</div>
		{% if image_list %}
		<div class="col-md-10 mx-auto bg-white my-3 p-5">
			<strong >image attachment click to download</strong>
			<div class="row my-5">
			{% for obj in image_list %}
     		 <div class="col-4 images my-3">

			<a  href="{{ obj.image.url }}"><img style="height: 100%;max_height:100px;width:100%;" src="{{ obj.image.url }}" alt="obj.image" class="">
				<div class="overlay"><p class="text">click to download</p>
					{% if  request.user.is_superuser or request.user == posts.user %}
     		 		<a href="{% url 'blog:file-delete' obj.pk %}"><span class="close-btn"><i class="fas fa-times fa-2x"></i></span></a>
     		 	{% endif %}
			  </div></a>

			</div>
			 {% endfor %}
			</div></div>
			 {% endif %}
			{% if file_list %}
			<div class="col-md-10 mx-auto bg-white my-3 p-5">
			<strong >file attachment click to download</strong>

			<div class="row my-5">
			{% for obj in file_list %}
           <div class="col-4 images  p-5">
           	<div class="row">
      <a  href="{{ obj.image.url }}"><div class="text-white"><i class="fa fa-file fa-3x text " aria-hidden="true"></i>
			</i></div><div class="overlay">{% if  request.user.is_superuser or request.user == posts.user %}
     		 		<a href="{% url 'blog:file-delete' obj.pk %}"><span class="close-btn"><i class="fas fa-times fa-2x"></i></span></a>
     		 	{% endif %}</div></a></div>
        <div style="position: absolute; bottom: 20%;" class="mx-auto">
				{{ obj.filename|truncatechars:20}}
			</div>
      </div>
			{% endfor %}
			</div>


		</div>
			{% endif %}



			</div>




		</div>
	</div>



</div>
{% endblock %}