@use "mixins/badges";
@use "variables";

/*           badges             */
.badge{
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: variables.$font-size-mini;
    line-height: 12px;
    background-color: variables.$transparent-bg;
    border: variables.$border;
    margin-bottom: 5px;
    border-radius: variables.$border-radius-extreme;
}
.badge-icon{
    padding: 0.4em 0.55em;
    i{
       font-size: 0.8em;
    }
}
.badge-default{
    @include badges.badge-color(variables.$default-color);
}
.badge-primary{
    @include badges.badge-color(variables.$primary-color);
}
.badge-info{
    @include badges.badge-color(variables.$info-color);
}
.badge-success{
    @include badges.badge-color(variables.$success-color);
}
.badge-warning{
    @include badges.badge-color(variables.$warning-color);
}
.badge-danger{
    @include badges.badge-color(variables.$danger-color);
}
.badge-neutral{
    @include badges.badge-color(variables.$white-color);
}
