// style for the landing page
.index-page{
    .page-header{
        height: 125vh;

        .container{
            > .content-center{
                top: 37%;
            }
        }

        .category-absolute{
            position: absolute;
            top: 100vh;
            margin-top: -60px;
            padding: 0 15px;
            width: 100%;
            color: rgba(255,255,255,.5);
        }
    }
}
.landing-page{

    .header{
        height: 100vh;
        position: relative;

        .container{
            padding-top: 26vh;
            color: #FFFFFF;
            z-index: 2;
            position: relative;
        }

        .share{
            margin-top: 150px;
        }
        h1{
            font-weight: 600;
        }
        .title{
            color: $white-color;
        }
    }

    .section-team{
        .team .team-player img{
            max-width: 100px;
        }

        .team-player{
            margin-bottom: 15px;
        }
    }

    .section-contact-us{
        .title{
            margin-bottom: 15px;
        }

        .description{
            margin-bottom: 30px;
        }

        .input-group,
        .send-button,
        .textarea-container{
            padding: 0 40px;
        }

        .textarea-container{
            margin: 40px 0;
        }

        a.btn{
            margin-top: 35px;
        }
    }
}






// style for the profile page

    .page-header{
        height: 300px;
    }

    .profile-container{
        color: #000;
    }
    .photo-container{
        position:absolute;
        right: 50px;
        bottom:-75px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    }

    .title{
        text-align: center;
        margin-top: 30px;
        color: #000;
    }

    .description,
    .category{
        text-align: center;
    }

    h5.description{
        max-width: 700px;
        margin: 20px auto 75px;
    }

    .nav-align-center{
        margin-top: 30px;
    }

    .content{
        max-width: 450px;
        margin: 0 auto;

        .teachers{
            display: inline-block;
            max-width: 150px;
            width: 145px;
            text-align: center;
            margin: 15px 0 0px;

            img{
                width: 75px;
                height: 75px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 15px;
                box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .button-container{
        text-align: center;
        margin-top: -106px;
    }

    .collections{
        img{
            margin-bottom: 30px;
        }
    }

    .gallery{
        margin-top: 45px;
        padding-bottom: 50px;
    }


.section-full-page{

    &:after,
    &:before{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &:before{
        background-color: rgba(0,0,0,.5);
    }

    &[filter-color="purple"],
    &[filter-color="primary"]{
        &:after{
            @include linear-gradient(rgba($light-gray,.26), rgba($primary-color,.95));

        }

    }

    &[data-image]:after{
        opacity: .5;
    }

    > .content,
    > .footer{
        position: relative;
        z-index: 4;
    }

    > .content{
        min-height: calc(100vh - 80px);
    }

    .full-page-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

    }

    .footer nav > ul a:not(.btn),
    .footer,
    .footer .copyright a{
        color: $white-color;
    }

}

.login-page{

    .card-login{
        border-radius: $border-radius-large;
        padding-bottom: $padding-base-horizontal;
        max-width: 320px;

        .btn-wd{
            min-width: 180px;
        }

        .logo-container{
            width: 65px;
            margin: 0 auto;
            margin-bottom: 55px;

            img{
                width: 100%;
            }
        }

        .input-group:last-child{
            margin-bottom: 40px;
        }

        &.card-plain{
            @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);

            .input-group-addon,
            .form-group.form-group-no-border .input-group-addon,
            .input-group.form-group-no-border .input-group-addon{
                color: $opacity-8;
            }
        }
    }

    .link{
        font-size: 10px;
        color: $white-color;
        text-decoration: none;
    }
}


/*  User Profile */
.user-info {
    .about {
        width:50%;
        margin:50px auto;
        h3 {
            margin-bottom:0px !important;
        }
        a {
            color:$info-color;
            margin-top:-20px;
        }
        
    }
    .teachers-info {
        margin:25px;
        .teachers{
            display: inline-block;
            max-width: 150px;
            width: 145px;
            text-align: center;
            margin: 15px 0 0px;

            img{
                width: 75px;
                height: 75px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 15px;
                box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
            }
        }

    }
    

}

.bg-container{
    #blogForm {   
    max-width:80%;
    left:50px;
    .form-group {
        .form-control {
            background-color: $opacity-gray-3;
        }
    }
}

}


// home page styke
.card {
    margin-bottom:50px;
    .card-top {
        padding:10px;
        img {
            max-width: 50px;
            max-height: 50px;
            float: left;

        }
        .username {            
            display: block;
            font-size: 16px;
            font-weight: 600;      

        }
        .timestamp {
            display: block;
            font-size: 12px;
            a {
                color:$dark-gray;
            }

        }
        &:after {
        clear:both;
        }
    }
    .card-post-image {
        padding:10px;
    }
    .card-block {
        
        .card-text {
            color:$light-black;
            overflow: hidden;
            text-overflow:ellipsis;
            padding:10px;
        }
    }

}
.grade-box {
    .failed {
            background-color:$danger-color;
        }
    margin-bottom:50px;
    .grade-box-icon {
        display: block;
        float: left;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 90px;
        background: rgba(0,0,0,0.2);
        
        &:after {
            clear: both;
            
        }

    }
    .grade-box-content {
        height:90px;
        padding:5px 10px;
        margin-left:100px;
        span {
            display:block;
        }
        .grade-box-text {
            font-size: 16px;
            font-weight: 600;

        }
        .grade-box-number {
            font-size:18px;
            font-weight:bold;
        }
        .progress {
            margin: 5px 10px;
        }
    }
}
.form-container {
    padding:20px;
}

// profile page 

.card-profile {
  position: relative;
  max-height:450px;
  display:flex;
  flex-direction: column;
  margin: 50px auto;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,0.125);

  /* box-shadow: 1em 1em 2em rgba(0,0,0,.2); */
  
  .card-img-top {
    border-radius: 0;
    padding:0px;
  }

  .card-img-profile {
    max-width: 100px;       
    border-radius: 100%;
    margin-top: -70px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        
  }

  
  
}
.card-block {
    padding: 1.25rem;
    .cl {
        padding-left: 0;
        list-style: none;
    }
    .lmb{
        margin-bottom:0.25rem;
      
  }
    }



.img-list {
     height:75px;
     width:75px;
     border-radius:8px;    
 
}    


.border-thin-transparent {
        border: 1px solid rgba(0, 0, 0, 0.125);
}


.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 0.5rem;
    color: inherit;
    &:hover {
        color:$primary-color;
    }
}



.pi {
    max-width: 50px;
    max-height: 50px;
}

.tr {
    position:absolute;
    top:8px;
    right:30px;
    color:#1d2124;
}

.nav-spacing {
    padding:50px;
}
.vh {
    height: 100vh !important;
}
.list-group-item {
    background-color: inherit;
}

.fb {
    flex-basis:100%;
    justify-content:flex-end;
}

.sticky-top {
    top:100px;
}