@use "mixins/transparency";
@use "mixins/vendor-prefixes";
@use "variables";

body{
    background:#ecf0f5;
    color: variables.$black-color;
    font-size: variables.$font-size-base;
    font-family: variables.$sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main{
    position: relative;
    background: variables.$white-color;
}
/* Animations */
.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link{
    @include vendor-prefixes.transition(variables.$general-transition-time, variables.$transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before{
    @include vendor-prefixes.transition(variables.$fast-transition-time, variables.$transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after{
    @include vendor-prefixes.rotate-180();
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: variables.$white-bg;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 17px;
    }
}

.open{
    @include vendor-prefixes.transform-translate-y(0);
    @include transparency.opacity(1);
    visibility: visible;
}

.separator{
    height: 2px;
    width: 44px;
    background-color: variables.$default-color;
    margin: 20px auto;

    &.separator-primary{
        background-color: variables.$primary-color;
    }
}
