@use "mixins/popovers";
@use "variables";

.popover{
    font-size: variables.$font-size-base;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border: none;
    line-height: 1.7;
    max-width: 240px;

    &.bs-popover-top .arrow:before,
    &.bs-popover-left .arrow:before,
    &.bs-popover-right .arrow:before,
    &.bs-popover-bottom .arrow:before,{
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .popover-header{
        color: variables.$default-color-opacity;
        font-size: variables.$font-size-base;
        text-transform: capitalize;
        font-weight: variables.$font-weight-semi;
        margin: 0;
        margin-top: 5px;
        border: none;
        background-color: transparent;
    }

    &:before{
        display: none;
    }

    &.bs-tether-element-attached-top:after{
        border-bottom-color:variables.$white-color;
        top: -9px;
    }

    &.popover-primary{
        @include popovers.popover-color(variables.$primary-color, variables.$white-color);
    }

    &.popover-info{
        @include popovers.popover-color(variables.$info-color, variables.$white-color);
    }

    &.popover-warning{
        @include popovers.popover-color(variables.$warning-color, variables.$white-color);
    }

    &.popover-danger{
        @include popovers.popover-color(variables.$danger-color, variables.$white-color);
    }

    &.popover-success{
        @include popovers.popover-color(variables.$success-color, variables.$white-color);
    }
}


.tooltip{
    &.bs-tooltip-right .arrow:before{
        border-right-color:variables.$white-color;
    }

    &.bs-tooltip-top .arrow:before{
        border-top-color:variables.$white-color;
    }

    &.bs-tooltip-bottom .arrow:before{
        border-bottom-color:variables.$white-color;
    }

    &.bs-tooltip-left .arrow:before{
        border-left-color:variables.$white-color;
    }
}

.tooltip-inner{
    padding: variables.$padding-base-vertical variables.$padding-base-horizontal;
    min-width: 130px;
    background-color: variables.$white-color;
    font-size: variables.$font-size-base;
    color: inherit;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
