@use "variables";

.btn-twitter{
    color: variables.$social-twitter;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-twitter-state-color;
    }
}

.btn-facebook{
    color: variables.$social-facebook;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-facebook-state-color;
    }
}

.btn-google{
    color: variables.$social-google;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-google-state-color;
    }
}

.btn-linkedin{
    color: variables.$social-linkedin;

    &:hover,
    &:focus,
    &:active{
        color: variables.$social-linkedin-state-color;
    }
}
