{% extends 'accounts/base.html' %}
{% load static %}

{% block content%}
<div class="container">
<h1>BLog Create</h1>

	<form  action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	{{ form.media }}
    {{ form.as_p }}
    <!-- <input required type="file" multiple name="images" class="form-control_file"> -->
    <div class="custom-file">
      <input name="images" type="file" multiple class="custom-file-input" id="id_images">
      <label class="custom-file-label" for="images">Choose file</label>
    </div>
    <input type="submit" value="Save" />
</form>

</div>
{% endblock %}