{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock title %}
{% block navbar %}
{% include 'accounts/post_navbar.html'%}
{% endblock %}
{% block content%}
<style >
	.images:hover {
		background: rgba(0,0,0,0.5);
	}
	.images {
		max-height: 100px;
	}
	.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44,168,255,0.5);
}
.overlay:hover {
	opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url({% static 'img/a3.jpg' %})"></div>
<div class="nav-spacing"></div>
<div class="container">
	{% if request.user == post.user or request.user.is_superuser %}
	<div class="row">
		<div class="col-md-8 mx-auto bg-default my-3 p-5">

					<a class="btn btn-primary" href="{% url 'blog:update' post.pk %}">update post</a>


		</div>

	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-8 mx-auto bg-default my-3 p-5">
			<article>
			<h2 class="text-center">{{ post.title }}</h2><hr/>
			<p style="word-break: break-word;">{{ post.content|safe }}</p><hr/>
		</article>
		<a class="btn btn-info" href="{% url 'home' %}">retour</a>
		</div>
		{% if image_list %}
		<div class="col-md-8 mx-auto bg-default my-3 p-5">
			<strong >image attachment</strong>
			<div class="row my-5">
			{% for obj in image_list %}
      <div class="col-4 images my-3">
			<a  href="{{ obj.image.url }}"><img style="height: 100%;max_height:100px;width:100%;" src="{{ obj.image.url }}" alt="obj.image" class=""><div class="overlay"><p class="text">click to download</p>
			  </div></a></div>
			 {% endfor %}
			</div></div>
			 {% endif %}
			{% if file_list %}
			<div class="col-md-8 mx-auto bg-default my-3 p-5">
			<strong >file attachment</strong>

			<div class="row my-5">
			{% for obj in file_list %}
           <div class="col-4 images  p-5">
           	<div class="row">
      <a  href="{{ obj.image.url }}"><div class="text-white"><i class="fa fa-file fa-3x text " aria-hidden="true"></i>
			</i></div><div class="overlay">
        </div></a></div>
        <div style="position: absolute; bottom: 20%;" class="mx-auto">
				{{ obj.filename|truncatechars:20}}
			</div>
      </div>
			{% endfor %}
			</div>


		</div>
			{% endif %}



			</div>




		</div>
	</div>



</div></div>
{% endblock %}