{% extends 'accounts/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block script %}
<!-- javascript -->
<script type="text/javascript">
  $('.date-picker').each(function(){
    $(this).datepicker({
        templates:{
            leftArrow: '<i class="now-ui-icons arrows-1_minimal-left"></i>',
            rightArrow: '<i class="now-ui-icons arrows-1_minimal-right"></i>'
        }
    }).on('show', function() {
            $('.datepicker').addClass('open');

            datepicker_color = $(this).data('datepicker-color');
            if( datepicker_color.length != 0){
                $('.datepicker').addClass('datepicker-'+ datepicker_color +'');
            }
        }).on('hide', function() {
            $('.datepicker').removeClass('open');
        });
});
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>

{% endblock %}

{% block content%}
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url({% static 'img/a3.jpg' %})"></div>
<div class="nav-spacing"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% include 'accounts/left-section.html'%}
      </div>
<!--       <div class="col-lg-8 col-md-12">
          {% if request.user == user %}
          <div class="category">
            <div class="category-heading bg-default text-white text-left p-2 mb-5">
              <h3 class="d-inline-block mb-0">User Info</h3>
               <a class="pull-right text-white" data-toggle="collapse" href="#UserInfo" aria-expanded="true" aria-controls="UserInfo"><i class="fas fa-minus"></i></a>
            </div>
            
            <div class="collapse show" id="UserInfo">
              {% if user.is_student%} 
              <form  action="{% url 'accounts:update' request.user.username %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                     {{ hidden_field }}
                   {% endfor %}

                   {% if form.non_field_errors %}
                   {% for error in form.non_field_errors %}
                     <div class="alert alert-warning" role="alert">
                         {{ error }}
                     </div>
                     {% endfor %}
                   {% endif %}
                  
                      <div class="input-group">
                       
                                                 
                       <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" maxlength="30" id="id_first_name" placeholder="First name">
                      </div>
                      <div class="input-group ">
                        
                                                 
                       <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" maxlength="30" id="id_last_name" placeholder="Last name">
                      </div>
                      <div class="input-group ">
                        
                       <input type="text" name="adresse" value="{{ user.adresse }}" class="form-control" maxlength="254" id="id_adresse" placeholder="your adresse">
                      </div>
                      <div class="input-group ">
                                                                   
                       <input type="text" name="birth_day" value="{{ user.birth_day|date:'m/d/Y' }}" class="date-picker form-control" id="id_birth_day" data-provide="datepicker" data-datepicker-color="primary" data-date-format="mm/dd/yyyy" placeholder="06/02/2017">
                       <input type="text" name="birth_location" value="{{ user.birth_location }}" class="form-control" maxlength="30" id="id_birth_location" placeholder="birth location">
                       
                      </div>
                      <div class="input-group ">
                        
                       <input type="file" name="avatar"  id="id_avatar"> 
                      </div>  
                       <div class="input-group ">
                        
                        
                            <select name="gender" id="id_gender" class="form-control" required="">

                              <option value="Male" selected="">Male</option>

                              <option value="Female">Female</option>

                            </select>
                    
                </div>  
                   
                       <div class="input-group ">
                        
                       
                         <select name="classroom" class="form-control" id="id_classroom" >
                            <option value="1" selected="">1ap1</option>

                            <option value="2">1ap2</option>

                        </select>                        
                       
                      </div>
                  
          <button class="btn btn-danger  btn-round" type="submit">changes</button>
                  
    </form>{% endif %}
    {% if user.is_teacher %}
     <form  action="{% url 'accounts:update' request.user.username %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                     {{ hidden_field }}
                   {% endfor %}

                   {% if form.non_field_errors %}
                   {% for error in form.non_field_errors %}
                     <div class="alert alert-warning" role="alert">
                         {{ error }}
                     </div>
                     {% endfor %}
                   {% endif %}
                      <div class="input-group">
                       <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" maxlength="30" id="id_first_name" placeholder="First name">
                      </div>
                      <div class="input-group ">
                       <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" maxlength="30" id="id_last_name" placeholder="Last name">
                      </div>
                      <div class="input-group ">
                       <input type="text" name="adresse" value="{{ user.adresse }}" class="form-control" maxlength="254" id="id_adresse" placeholder="your adresse">
                      </div>
                      <div class="input-group ">
                       <input type="text" name="birth_day" value="{{ user.birth_day|date:'m/d/Y' }}" class="date-picker form-control" id="id_birth_day" data-provide="datepicker" data-datepicker-color="primary" data-date-format="mm/dd/yyyy" placeholder="06/02/2017">
                       <input type="text" name="birth_location" value="{{ user.birth_location }}" class="form-control" maxlength="30" id="id_birth_location" placeholder="birth location">
                      </div>
                      <div class="input-group ">
                       <input type="file" name="avatar"  id="id_avatar"> 
                      </div>  
                       <div class="input-group ">
                        
                            <select name="gender" id="id_gender" class="form-control" required="">
                              <option value="Male" selected="">Male</option>
                              <option value="Female">Female</option>
                            </select>
                </div>  
                       <div>
                            <input type="checkbox" name="classroom" value="1" id="id_classroom_0" class="checkbox mr-2" checked=""> 
                            <label for="id_classroom_0">1AP1</label>
                          </div>
                          <div>
                           <input type="checkbox" name="classroom" value="2" id="id_classroom_1" class="checkbox mr-2">
                           <label for="id_classroom_1">1AP2</label>
                        
                      </div>
          <button class="btn btn-primary  btn-round" type="submit">changes</button>
    </form>{% endif %}
            </div>
            <div class="category-heading bg-default text-white text-left p-2 mb-5">
              <h3 class="d-inline-block mb-0">Class Info</h3>
               <a class="pull-right text-white" data-toggle="collapse" href="#UserInfo" aria-expanded="true" aria-controls="UserInfo"><i class="fas fa-minus"></i></a>
            </div>
          </div>
           {% endif %}
      </div> -->
    </div>
</div>
</div>
{% endblock %}

