{% extends 'accounts/base.html' %}

{% block content%}
<div class="container">	
	<div class='row'>

{% for user in profile_list %}

	<div class='col-md-4'>
	{% if user.is_authenticated %}
	{% if user.students.avatar %}

<img style="max-width: 50px; max-height: 50px;" src="{{user.students.avatar.url }}" href="{% url 'accounts:profile' user.username %}">
{% endif %}

<p>First Name : {{ user.first_name }} </p>
<p>Last Name : {{ user.last_name }} </p>
<p>Phone Number : {{ user.students.phone }}</p>	


{% endif %}
</div>

{% endfor %}
 <div>
 </div>
{% endblock %}