{% extends 'accounts/base.html' %}
{% load static %}

{% block content%}
<div class="page-header" filter-color="orange">
	<div class="page-header-image" style="background-image:url({% static 'img/a5.jpg' %})"></div>
<div class="nav-spacing"></div>

	<div class="container">

		<h1> Grade : {{ grade.name }}</h1>

		<h6 class="bg-default p-3 mb-0"> Students :  <a data-toggle="collapse" href="#AboutStudent" aria-expanded="false" aria-controls="AboutStudent" class="align-text-top text-white pull-right"><small>HIDE</small></a></h6>
		<div class="card-block p-3 collapse show" id="AboutStudent">
		<div class="row">
		{% for obj in grade.student_set.all %}
		<div class="col-lg-3 col-md-4">
		<div class="card card-profile">
              <img alt="" class="card-img-top" src="{% static 'img/banner.jpg' %}">
              <div class="card-block text-center">
                <a href="{% url 'accounts:profile' obj.user.username %}"><img alt="" class="card-img-profile" src="{% if obj.user.avatar %}{{ obj.user.avatar.url }}{% endif %}"></a>
                <h6 class="mt-3">{{ obj.user.first_name }}  {{ obj.user.last_name }}</h6>
                <a href="{% if obj.user.is_student %}{% url 'accounts:grade' obj.user.students.classroom.name %}{% endif %}"><h6 class="card-subtitle mb-2 badge badge-info">@{% if obj.user.is_student %}{{ obj.user.students.classroom.name}}{% endif %}</h6></a>
                <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>
            </div>
          </div></div>
		
		{% endfor %}
	</div></div>	
		
		<h6 class="bg-default p-3 mb-0"> Teachers :  <a data-toggle="collapse" href="#AboutTeacher" aria-expanded="false" aria-controls="AboutTeacher" class="align-text-top text-white pull-right"><small>HIDE</small></a></h6>
		<div class="card-block p-3 collapse show" id="AboutTeacher">
		<div class="row">
		{% for obj in grade.teacher_set.all %}

		<div class="col-lg-3 col-md-4">
		<div class="card card-profile">
              <img alt="" class="card-img-top" src="{% static 'img/banner.jpg' %}">
              <div class="card-block text-center">
                <a href="{% url 'accounts:profile' obj.user.username %}"><img alt="" class="card-img-profile" src="{% if obj.user.avatar %}{{ obj.user.avatar.url }}{% endif %}"></a>
                <h6 class="mt-3" >{{ obj.user.first_name }}  {{ obj.user.last_name }}</h6>
                <p class="badge badge-primary">{{ obj.user.teachers.module }}</p>

                <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>
            </div>
          </div></div>
			
		{% endfor %}
	</div>	
	</div>
</div>
</div>
{% endblock %}