{% load static %}


	{% if messages%}
	{% for msg in messages %}
	<div class="alert bg-success text-white text-center">{{ msg  }} </div>
	{% endfor %}
	{% endif %}
{% if  request.user.is_superuser %}
<div class="fixed-bottom">
	<a href="{% url 'blog:create' %}" class="coffee-button text-white p-4  circle"><i class="fas fa-plus"></i></a>
</div>
<div class="form-container mx-auto">

	<a class="btn btn-block btn-lg bg-default" data-toggle="collapse" href="#blogForm" aria-expanded="false" aria-controls="blogForm">
	add a post
	</a>
	<form class="collapse" id="blogForm" action="{% url 'blog:create' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<input type="text" name="title" id="id_title" required="" maxlength="120" placeholder=" Enter title here"  class="form-control">
		</div>
		<div class="form-group">
			<textarea name="content" rows="10" id="id_content" cols="40" required="" maxlength="2000" placeholder=" Enter title here"  class="form-control"></textarea>
		</div>
		<div class="form-group">
			<input required type="file" multiple name="images" class="form-control_file">
		</div>
		<button type="submit" class="btn btn-danger btn-round">Submit</button>
	</form>
</div>
</span>
{% endif %}
{% for posts in list %}

{% if posts.title %}
<div class="card d-flex flex-column p-3 bg-white">
	{% if  request.user.is_superuser or request.user == posts.user %}
	<a href="{% url 'blog:post-delete' posts.id %}""><span  class="close-btn blue"><i class="fas fa-times fa-2x"></i></span></a>
	{% endif %}
	<div class=" d-flex">
		<img  class="rounded-circle pi mr-2" src="{{posts.user.avatar.url }}">
		<div>
			<div class="card-top">
				<span class="username text-capitalize"><a href="{% url 'accounts:profile' posts.user.username %}">{{ posts.user.username}}</a></span>
				<span class="timestamp"><a href=" {{ posts.get_absolute_url }} ">{% if posts.updated %}{{ posts.updated|timesince }}{% else %}{{ timestamp|timesince }}{% endif %} ago</a></span>
			</div>
			<div class="card-block">
				<p style="word-break: break-word;" class="card-text text-muted">{{ posts.content|safe|truncatechars:300 }}</p><hr/>
			</div>
			<a href="{% url 'blog:detail' posts.id %}"><img class="card-post-image" src="{{ posts.images.first.image.url }}" alt="Card image cap"></a>
			<div class="card-block">

				<div class="d-flex  flex-row justify-content-between">
					<div >
						<a href="" data-href="{{ posts.get_like_api_url }}" data-likes="{{ posts.like.count }}" class="btn btn-primary btn-icon btn-simple btn-icon-mini btn-round mr-2 like-btn" id="likes-{{posts.id}}"><i class="now-ui-icons ui-2_favourite-28"></i></a><span data-likes="{{ posts.like.count }}"  class="mr-3 like-count"> {{ posts.like.count }} </span>
						<!-- <a href="" class="btn btn-primary btn-icon btn-icon-mini btn-round mr-2"><i class="now-ui-icons ui-2_chat-round"></i></a><span>24</span> -->
					</div>
					<div >
						<a  href="{{ posts.get_absolute_url }}" class="btn btn-primary btn-simple align-self-end">view detail</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endif %}
{% if posts.grade %}

<div class="grade-box bg-default-light mt-5 d-flex flex-row">
	{% if posts.grade < 10 %}
	<span class="grade-box-icon"><i class="fas fa-thumbs-down text-danger"></i></span>
	{% else %}
	<span class="grade-box-icon"><i class="fas fa-thumbs-up text-success"></i></span>
	{% endif %}

		<div class="grade-box-content">
			<span class="grade-box-text">{{ posts.teacher }} : {{ posts.module }}</span>
			<span class="grade-box-number">{{ posts.grade }}/20</span>
			<div class="progress">
				<div class="progress-bar" style="width: calc({{ posts.grade }}*5%)"></div>
			</div>
		</div>
	</div>
	{% endif %}

	{% empty %}
	{% if request.GET.q %}
	<p>no post found</p>
	{% else %}
	<p> no posts yet</p>
	{% endif %}

	{% endfor %}
</div>