{% extends 'accounts/base.html' %}
{% load static %}

{% block content%}

<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url({% static 'img/a3.jpg' %})"></div>
<div class="nav-spacing"></div>
<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<p>{{ post.title }}</p><hr/>
			<p>{{ post.content }}</p><hr/>

			<img src="{% if post.image %}{{ post.image.url }} {% endif %}">


		</div>
	</div>



</div></div>
{% endblock %}